<form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>אימייל</mat-label>
    <input matInput formControlName="email" type="email" />
    <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      יש להזין אימייל תקין
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>סיסמה</mat-label>
    <input matInput formControlName="password" type="password" />
    <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
      חובה להזין סיסמה
    </mat-error>
  </mat-form-field>

  <button mat-raised-button class="custom-button" type="submit" [disabled]="form.invalid">התחבר</button>
  <div *ngIf="error" class="error-message">{{ error }}</div>
</form>
